.banner {
  background-image: url(./../../Assets/bank-tree.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  object-fit: cover;
  position: relative;
  width: 100%;
  @include respond-to("medium") {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--txt {
    position: absolute;
    top: 50px;
    right: 50px;
    margin: 2rem;
    padding: 2rem;
    text-align: left;
    background-color: $background-secondary;
    color: $color-primary;
    @include respond-to("medium") {
      top: initial;
      right: initial;
      position: relative;
    }
    &--title {
      font-size: 24px;
      margin-bottom: 20px;
    }
    &--content {
      font-size: 18px;
    }
  }
}
