.featureContainer {
  display: flex;
  margin: 40px auto;
  justify-content: space-around;
  align-items: flex-start;
  flex-flow: row nowrap;
  width: 100%;
  &__item {
    @include columnAround;
    width: 25%;
    &__border {
      border: 10px solid $border-primary;
      border-radius: 50%;
      margin: 20px;
      &--pic {
        margin: 10px;
        width: 100px;
      }
    }
    &--txt {
      font-size: 20px;
      margin: 10px;
      text-align: center;
    }
  }
}
