.footer {
  border-top: 2px solid $border-secondary;
  display: flex;
  justify-content: center;
  width: 100%;
  &--txt {
    font-size: 18px;
    color: $color-primary;
    padding: 32px 0 24px 0;
  }
}
