.containerNav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px 20px;
  height: 55px;
  &__logo {
    &--img {
      margin: 10px;
      max-height: 55px;
      min-height: 0px;
      min-width: 0;
    }
  }
  &__btnSign {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-right: 25px;
    &--img {
      height: 16px;
      margin-right: 5px;
    }
    &--txt {
      color: $color-primary;
      font-weight: bold;
      font-size: 16px;
      text-decoration: none;
    }
  }
  &__btnLogout {
    margin-left: 10px;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
  }
}

a {
  text-decoration: none;
}
