.containerNav {
  @include rowCenterBetween;
  width: 100%;
  height: 55px;
  &__logo {
    padding: 5px 20px;
    &--img {
      margin: 10px;
      max-height: 55px;
      min-height: 0px;
      min-width: 0;
    }
  }
  &__btnSign {
    @include rowCenter;
    padding: 5px 20px;
    min-width: 100px;
    &--img {
      height: 16px;
      margin-right: 5px;
    }
    &--txt {
      color: $color-primary;
      font-weight: bold;
      font-size: 16px;
      text-decoration: none;
    }
  }
  &__btnLogout {
    @include rowCenter;
    padding: 5px 20px;
  }
}

a {
  text-decoration: none;
}
