.user {
  width: 100%;
  min-height: 800px;
  background-color: $background-primary;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  &__Container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    &__title {
      text-align: center;
      margin: 20px auto;
      font-size: 2em;
      color: $color-tertiary;
      line-height: 50px;
      &__input {
        &--current {
          border: 2px solid #e6e6e6;
          margin: 10px 5px;
        }
        &--btn button {
          border: 1px solid $border-tertiary;
          width: 100px;
          height: 30px;
          margin: 0 5px;
          color: $color-nameEdit;
          font-weight: bold;
        }
      }
    }
    &__btnEdit {
      border-color: $border-primary;
      background-color: $background-tertiary;
      color: $color-tertiary;
      font-weight: bold;
      padding: 10px;
    }
  }
  &__transaction {
    margin: 40px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    &__Container {
      width: 1024px;
      height: 82px;
      padding: 24px;
      margin-bottom: 40px;
      background-color: $background-secondary;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      &__info {
        display: flex;
        flex-flow: column nowrap;
        &--ref {
          font-size: 1rem;
          color: $color-primary;
        }
        &--money {
          font-size: 2.5rem;
          font-weight: bold;
          color: $color-primary;
        }
        &--balance {
          font-size: 1rem;
          color: $color-primary;
        }
      }
      &__btn {
        display: block;
        width: 100%;
        padding: 8px;
        font-size: 1.1rem;
        font-weight: bold;
        border-color: $border-primary;
        background-color: $background-tertiary;
        color: $color-tertiary;
      }
    }
  }
}
