.user {
  background-color: $background-primary;
  @include columnStart;
  min-height: 800px;
  padding: 20px;
  width: 100%;
  &__Container {
    @include columnCenter;
    margin-bottom: 40px;
    &__title {
      color: $color-tertiary;
      font-size: 2em;
      line-height: 50px;
      margin: 20px auto;
      text-align: center;
      &__input {
        &--current {
          border: 2px solid #e6e6e6;
          padding: 10px;
          margin: 10px 5px;
        }
        &--btn button {
          border: 1px solid $border-tertiary;
          color: $color-nameEdit;
          font-weight: bold;
          height: 30px;
          margin: 0 5px;
          width: 100px;
        }
      }
    }
    &__btnEdit {
      border-color: $border-primary;
      background-color: $background-tertiary;
      color: $color-tertiary;
      font-weight: bold;
      padding: 10px;
    }
  }
  &__transaction {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    &__Container {
      background-color: $background-secondary;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;
      padding: 24px;
      width: 90%;
      @include respond-to("medium") {
        flex-flow: column nowrap;
        justify-content: initial;
        align-items: flex-start;
        width: 90%;
        // position: relative;
      }
      &__info {
        display: flex;
        flex-flow: column nowrap;
        @include respond-to("medium") {
          // position: absolute;
          // left: 10px;
          // right: 10px;
          // bottom: 30px;
          width: 100%;
          // margin-top: 20px;
        }

        &--ref {
          color: $color-primary;
          font-size: 1rem;
        }
        &--money {
          color: $color-primary;
          font-size: 2.5rem;
          font-weight: bold;
        }
        &--balance {
          color: $color-primary;
          font-size: 1rem;
        }
      }
    }
    &__ContainerBtn {
      @include respond-to("medium") {
        margin-top: 20px;
        width: 100%;
      }
      &__btn {
        color: $color-tertiary;
        border-color: $border-primary;
        background-color: $background-tertiary;
        display: block;
        font-size: 1.1rem;
        font-weight: bold;
        padding: 8px;
        width: 100%;
      }
    }
  }
}
