* {
  margin: 0;
  padding: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

// Color

$color-primary: #2c3e50ff;
$color-secondary: #b72020;
$color-tertiary: white;
$color-nameEdit: #6458f5;

$background-primary: #12002bff;
$background-secondary: white;
$background-tertiary: #00bc77;

$border-primary: #00bc77;
$border-secondary: #ccccccff;
$border-tertiary: #b1b0f0;

// Mixin

@mixin columnCenter {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

@mixin columnAround {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

@mixin columnStart {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

@mixin rowCenterBetween {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

@mixin rowCenter {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

//Breakpoint

$breakpoints: (
  "small": 767px,
  "medium": 992px,
  "large": 1240px,
) !default;

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Ce format n'existe pas `#{$breakpoint}`. "
        + "Les formats existants sont : #{map-keys($breakpoints)}.";
  }
}
